body {
    background-color: blueviolet;
  }
  
  .home 
    {
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-weight: 540;
        font-style: normal;    
        font-size: 44px;
        padding: 12px;
        text-decoration: underline rgb(48, 78, 133);
    }

.intro
    {
        font-family: "Inconsolata", monospace;
        font-optical-sizing: auto;
        font-weight: 444;
        font-style: normal;
        font-variation-settings:
          "wdth" 100; 
       margin-top: -38px;
       margin-left: 23px;
       font-size: 18px;
    }
  
    .navbar {
        display: flex;
        justify-content: space-between;
        background-color: #4CAF50;  /* Example background color */
      }
      
      .navbar ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      
      .navbar li {
        margin: 0;
      }
      
      .navbar a {
        padding: 10px 20px;
        text-decoration: none;
        color: white;
      }
      
      .navbar a:hover {
        background-color: lightgray;
      }
      
